@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sofadi+One&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s ;
}
body{
    background-color: #F4F5F6;
    font-family: "DM Sans";
}
:root{
    --primary-black: #242731;
    --primary-gray: #E0E4E7;
    --primary-purple: #A162F7;

    --secondary-blue: #2884FF;
    --secondary-yellow: #F6CC0D;
    --secondary-red: #FF6370;
    --secondary-green: #70CF97;
    --secondary-orange: #FF764C;
}
