.dashbord {
  padding: 30px;
  .characteristic-seaction {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    .types-of-characteristic:nth-child(1){
      background-color: #A162F7;
      color: #fff;
    }
    .types-of-characteristic {
      width: 232px;
      height: 266px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        background-color: #F5F4F6;
      margin-right: 30px;
      border-radius: 14px;
      padding: 25px;
      span {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bold;
      }
      b {
        position: absolute;
        bottom: 70px;
      }
    }
  }
}
