.bars-layout{
    display: flex;
    .sidebar{
        width: 250px;
        background-color: #fff;

        padding: 32px 24px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .sidebar-top{
            .logo{
                margin-bottom: 34px;
                display: flex;
                align-items: center;
                span{
                    font-size: 24px;
                    font-weight: bold;
                    margin-left: 12px;
                }
            }
            .categoris{
                .categori-items{
                    display: flex;
                    align-items: center;
                    padding: 8px;
                    color: #5F6165;
                    margin-bottom: 18px;
                    span{
                        margin-left: 8px;
                    }
                }
            }
        }
        .categori-items:hover{
            background-color: #e3e7e7;
            cursor: pointer;
            border-radius: 10px;
        }
        .sidebar-botoom{
            .categori-items{
                display: flex;
                align-items: center;
                padding: 8px;
                color: #5F6165;
                margin-top: 18px;
                span{
                    margin-left: 8px;
                }
            }
        }
    }
    main{
        width: 100%;
        .navbar{
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            background-color: #fff;
            padding: 15px 30px;
            
            .profile{
                display: flex;
                img:nth-child(1){
                    margin-right: 40px;
                }
            } 
            .search{
                form{
                    input{
                        padding: 14px 30px;
                        background-color: #F5F4F6;
                        border: none;
                        outline: none;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}