svg {
  width: 128px;
//   transform: rotate(9deg);
  .progress {
    transition: stroke-dashoffset .3s ease-out;
    stroke-dashoffset: 175.84 - ( 175.84 / 100 * 50 );
  }
}
.dashbord{
    padding: 30px;
    overflow: scroll;
    .characteristic-seaction{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        .types-of-characteristic{
            height: 266px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #A162F7;

        }
    }
}