svg {
  width: 128px;
  //   transform: rotate(9deg);
  .progress {
    transition: stroke-dashoffset 0.3s ease-out;
    stroke-dashoffset: 175.84 - (175.84 / 100 * 60);
  }
}
.dashbord {
  padding: 30px;
  .characteristic-seaction {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    .types-of-characteristic {
      width: 232px;
      height: 266px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #333;
      margin-right: 30px;
      color: #fff;
      border-radius: 14px;
      svg:nth-child(1) {
        width: 200px;
      }

      span {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bold;
      }
      b {
        position: absolute;
        bottom: 70px;
      }
    }
  }
}
