.assetsPage{
    width: 1340px;
    margin:  auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 30px;
    h1{
        margin-bottom: 20px;
    }
    // display: flex;
    // justify-content: center;
}