.Recommend-car{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 30px;
    margin: 30px 50px;
    
    .car-reco:nth-child(1){background-color: #E1DFA4;}
    .car-reco:nth-child(2){background-color: #E3ECF1;}
    .car-reco:nth-child(3){background-color: #F4E3E5;}

    .car-reco{
        display: flex;
        flex-direction: column;
        padding: 15px 30px;
        border-radius: 15px; 
        p{
            font-size: 20px;
            font-weight: bolder;
            margin: 11px 0;
        }
        span:nth-child(1){
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 15px;
            img{
                margin-right: 10px;
            }
        }
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
                img,span{
                    margin-right: 10px;
                }
            }

        }
    }
}